@import '../scss/vars';
@import '../scss/mixins/index';

.thread-preview {
  &__header {
    font-size: 1.1em;
    font-weight: 300;

    padding: $block-header-padding;
  }

  &__content {
    padding: $block-content-padding;
    margin-bottom: 10px;
  }

  &__message {
    white-space: pre-line;
  }

  &__post {
    margin-bottom: 10px;
  }

  @include min-width($xs) {
    &__post {
      min-width: $xs - 20px;

      // Hack to fit block width to content.
      float: left;
      clear: left;
    }
  }
}
